@mixin adaptiv-font($pcSize, $mobSize, $maxWidth) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
 @media screen and (min-width: #{$maxWidth + px}) {
   font-size:#{$pcSize + px};
 }
}
@mixin btn_white_black() {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: #000000;
  }
  @media screen and (min-width: 1712px) {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}
