@media screen and (min-width: 1200px) {
  .main_container {
    .title_main h2 {
      font-size: 68px;
    }
    .mein_slider .owl-carousel {
      .owl-dot button {
        font-size: 36px;
        line-height: 44px;
      }

      &.active {
        button {
          font-size: 64px;
          line-height: 78px;
        }
      }
    }
  }
  .sale_section {
    .container_sale_section {
      .item_sale h5 {
        font-size: 20px;
        line-height: 25px;
      }
      .item_sale p {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
  .product_section {
    padding: 90px 0 95px 0;
    .tabs_product .tabs_content {
      margin-top: 100px;
    }

    .tabs_product .tabs_content .tabs_content_box {
      gap: 80px 30px;
    }
    .view_catalog_btn {
      margin-top: 73px;
    }
  }
  .more_content_section {
    padding: 79px 0;
  }
  .container_more_content {
    .more_news {
      margin-top: 50px;
    }
  }
  .footer {
    padding-top: 70px;
    & > .container {
      padding-bottom: 70px;
    }
  }
    .modal_head {
      .modal_wrap {
        padding: 53px;
      }
    }
}
