@media screen and (min-width: 1712px) {
  .container {
    margin: 0 auto;
  }
  .header {
    .main_menu {
      width: 47%;
    }
    .user_menu {
      position: relative;
      bottom: 0;
      left: 0;
      display: flex;
      width: 47%;
      padding: 10px 0;
      background: none;
      justify-content: right;

      li svg {
        margin-left: 73px;
      }
    }
    .logo {
      width: 6%;
      svg {
        display: inline-block;
        width: 100%;
      }
    }
  }
  .main_container {
    margin-top: -64px;
    .title_main {
      margin-top: 30px;

      h2 {
        color: #000000;
        font-weight: 900;
        font-size: 96px;
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.07em;
        margin-top: 22px;
      }

      .detailed_btn {
        margin-top: 60px;
      }
    }
  }
  .sale_section {
    .container_sale_section {
      gap: 28px;
      .item_sale h5 {
        font-size: 30px;
        line-height: 37px;
      }

      .item_sale p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .container_more_content {
    .more_news {
      margin-top: 60px;
    }
    .tabs_more_content .tabs_content .new_tabs_item {
      .content {
        gap: 20px;
      }
    }
  }
  .subscribe_section {
    padding: 70px 0;
  }
  .footer {
    padding-top: 200px;

    .logo {
      svg {
        width: 176px;
        height: 151px;
      }
    }

    & > .container {
      padding-bottom: 100px;
    }
  }
}
