@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  background: #ffffff;
  padding-top: 66px;
  padding-bottom: 36px;
}

.container {
  max-width: 1682px;
  margin: 0 15px;
}

.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
}
.header .container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .main_menu_collapse {
  position: fixed;
  display: none;
  width: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  padding: 60px 0 0 15px;
}
.header .main_menu_collapse.active {
  display: block;
}
.header .main_menu_collapse li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  color: #000000;
  padding: 5px 5px 5px 0;
}
.header .main_menu_collapse li.category a {
  padding-right: 18px;
  position: relative;
}
.header .main_menu_collapse li.category a::after, .header .main_menu_collapse li.category a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  margin: auto;
}
.header .main_menu_collapse li.category a::after {
  right: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.header .main_menu_collapse li.category a::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.header .burger_icon {
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}
.header .burger_icon::before, .header .burger_icon::after {
  content: "";
}
.header .burger_icon::before, .header .burger_icon::after, .header .burger_icon > span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  top: 0;
  left: 0;
}
.header .burger_icon > span {
  top: 50%;
  margin-top: -1px;
}
.header .burger_icon::after {
  top: auto;
  bottom: 0;
}
.header .logo {
  display: block;
  position: relative;
  z-index: 1;
}
.header .logo svg {
  display: inline-block;
  width: 50px;
  height: 43px;
}

.header .user_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px 0;
  background: #f5f5f5;
  justify-content: space-around;
}
.header .user_menu li svg {
  width: 25px;
  height: 25px;
}
.header .user_menu li a {
  display: inline-block;
  padding: 5px;
}

.main_container .title_main {
  margin-top: 30px;
}
.main_container .title_main h2 {
  color: #000000;
  font-weight: 900;
  width: 100%;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.main_container .title_main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.07em;
  margin-top: 22px;
}
.main_container .title_main .detailed_btn {
  margin-top: 30px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
}
.main_container .title_main .detailed_btn:hover {
  color: #ffffff;
  background: #000000;
}
@media screen and (min-width: 1712px) {
  .main_container .title_main .detailed_btn {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}
.main_container .mein_slider {
  display: none;
}

.sale_section {
  background: #f5f5f5;
  padding: 29px 0 36px 0;
}
.sale_section .container_sale_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sale_section .container_sale_section .item_sale {
  padding: 0 10px;
  background: #ffffff;
  display: flex;
  gap: 5px;
  align-items: center;
}
.sale_section .container_sale_section .item_sale img {
  width: 40%;
  object-fit: contain;
}
.sale_section .container_sale_section .item_sale h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.07em;
}
.sale_section .container_sale_section .item_sale h5 a {
  color: #0f0f0f;
  text-decoration: none;
}
.sale_section .container_sale_section .item_sale p {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: #0f0f0f;
  margin-top: 13px;
}

.tabs .tabs_content .tabs_block {
  display: none;
}
.tabs .tabs_content .tabs_block:target {
  display: flex;
}
.tabs nav {
  margin: 0 auto;
  max-width: 753px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #000000;
}
.tabs nav .tabs_btn_item {
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: #878787;
  padding: 15px 10px;
  font-size: calc(
    13px + 5 * ((100vw - 320px) / 1080)
  );
}
@media screen and (min-width: 1712px) {
  .tabs nav .tabs_btn_item {
    font-size: 18px;
  }
}
.tabs nav .tabs_btn_item:hover {
  background: #000000;
  color: #ffffff;
}
.tabs nav .tabs_btn_item.active {
  color: #000000;
  border-bottom: 3px solid #000000;
}
.tabs nav .tabs_btn_item.active:hover {
  background: transparent;
  color: #000000;
}
.tabs .tabs_content {
  margin-top: 30px;
}
.tabs .tabs_content_box {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.tabs .tabs_content_box.active {
  display: flex;
}

.product_section {
  background: #ffffff;
  padding: 40px 0 40px 0;
}
.product_section .container_product_section {
  display: flex;
  flex-direction: column;
}
.product_section .container_product_section .card_product {
  display: flex;
  flex-direction: column;
  max-width: 374px;
  flex-basis: 48%;
  gap: 10px;
  position: relative;
}
.product_section .container_product_section .card_product .new {
  position: absolute;
  text-transform: uppercase;
  width: 0px;
  height: 0px;
  border-top: 63px solid transparent;
  border-left: 63px solid #000000;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.product_section .container_product_section .card_product .new::before {
  content: attr(data-text) " ";
  position: absolute;
  top: 0;
  left: 0;
  top: -30px;
  left: -61px;
  color: #ffffff;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
.product_section .container_product_section .card_product .rating_stars {
  display: block;
  max-width: 150px;
  width: 50%;
  object-fit: contain;
}
.product_section .container_product_section .card_product .rating_size {
  justify-content: space-between;
  display: flex;
}
.product_section .container_product_section .card_product .rating_size .size {
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: calc(
    15px + 7 * ((100vw - 320px) / 1080)
  );
  line-height: 27px;
}
@media screen and (min-width: 1712px) {
  .product_section .container_product_section .card_product .rating_size .size {
    font-size: 22px;
  }
}
.product_section .container_product_section .card_product .rating_size .size .s_size,
.product_section .container_product_section .card_product .rating_size .size .l_size {
  color: #cecece;
}
.product_section .container_product_section .card_product .rating_size .size .m_size {
  color: #000000;
}
.product_section .container_product_section .card_product .img_product {
  width: 100%;
  display: block;
}
.product_section .container_product_section .card_product .price_product {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: calc(
    18px + 12 * ((100vw - 320px) / 1080)
  );
  line-height: 37px;
  letter-spacing: 0.07em;
}
@media screen and (min-width: 1712px) {
  .product_section .container_product_section .card_product .price_product {
    font-size: 30px;
  }
}
.product_section .container_product_section .card_product .name_product {
  font-weight: 400;
  font-size: calc(
    13px + 3 * ((100vw - 320px) / 1080)
  );
  line-height: 20px;
  color: #0f0f0f;
}
@media screen and (min-width: 1712px) {
  .product_section .container_product_section .card_product .name_product {
    font-size: 16px;
  }
}
.product_section .view_catalog_btn {
  margin-top: 20px;
  align-self: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
}
.product_section .view_catalog_btn:hover {
  color: #ffffff;
  background: #000000;
}
@media screen and (min-width: 1712px) {
  .product_section .view_catalog_btn {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}

.more_content_section {
  background: #f5f5f5;
  padding: 40px 0;
}

.container_more_content {
  text-align: center;
}
.container_more_content .tabs_more_content nav {
  justify-content: center;
  width: fit-content;
  width: -moz-fit-content;
}
.container_more_content .tabs_more_content .tabs_content > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item {
  position: relative;
  background: #ededed;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item:hover .background::before {
  background: rgba(0, 0, 0, 0.8);
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item:hover .read_more_btn {
  color: #000000;
  background: #ffffff;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .background {
  width: 100%;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .background img {
  display: block;
  margin: 0 auto;
  width: 60%;
  position: relative;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .content {
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .read_more_btn {
  position: relative;
  z-index: 1;
  align-self: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .read_more_btn:hover {
  color: #ffffff;
  background: #000000;
}
@media screen and (min-width: 1712px) {
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item .read_more_btn {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-size: calc(
    18px + 18 * ((100vw - 320px) / 1080)
  );
}
@media screen and (min-width: 1712px) {
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item .title {
    font-size: 36px;
  }
}
.container_more_content .tabs_more_content .tabs_content .new_tabs_item .text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: calc(
    12px + 6 * ((100vw - 320px) / 1080)
  );
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
}
@media screen and (min-width: 1712px) {
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item .text {
    font-size: 18px;
  }
}
.container_more_content .more_news {
  margin-top: 30px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
}
.container_more_content .more_news:hover {
  color: #ffffff;
  background: #000000;
}
@media screen and (min-width: 1712px) {
  .container_more_content .more_news {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}

.subscribe_section {
  padding: 30px 0;
  background: #ffffff;
}
.subscribe_section .container {
  display: flex;
  flex-direction: column;
}
.subscribe_section .title {
  font-weight: 700;
  color: #0f0f0f;
  font-size: calc(
    18px + 12 * ((100vw - 320px) / 1080)
  );
}
@media screen and (min-width: 1712px) {
  .subscribe_section .title {
    font-size: 30px;
  }
}
.subscribe_section .subscribe_social {
  display: flex;
  flex-direction: column;
}
.subscribe_section .subscribe {
  display: flex;
  max-width: 825px;
  width: 100%;
  margin-top: 15px;
}
.subscribe_section .subscribe .input_subscribe {
  flex-basis: 55%;
  flex-grow: 1;
  position: relative;
}
.subscribe_section .subscribe .input_subscribe .telephobe_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 15px;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
  fill: #878787;
}
.subscribe_section .subscribe .input_subscribe input {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  border: 1px solid #bfbfbf;
  padding-left: 50px;
  font-weight: 400;
  font-size: 14px;
  color: #878787;
}
.subscribe_section .subscribe .input_subscribe input:focus {
  outline: none;
}
.subscribe_section .subscribe .input_subscribe input::placeholder {
  color: #878787;
}
.subscribe_section .subscribe .btn_subscribe {
  flex-grow: 1;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 10px 40px;
  border: 1px solid #000000;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  padding: 10px 5px;
}
.subscribe_section .subscribe .btn_subscribe:hover {
  color: #ffffff;
  background: #000000;
}
@media screen and (min-width: 1712px) {
  .subscribe_section .subscribe .btn_subscribe {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 90px;
  }
}
.subscribe_section .subscribe .btn_subscribe:hover {
  background: transparent;
  color: #000000;
}
.subscribe_section .messengers {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}
.subscribe_section .messengers .viber svg,
.subscribe_section .messengers .telegram svg {
  width: 52px;
  height: 55px;
  fill: #878787;
}

.footer {
  padding: 30px 0 0 0;
  background: #636363;
}
.footer .logo {
  align-self: flex-start;
  fill: #ffffff;
}
.footer .logo svg {
  width: 50px;
  height: 50px;
}
.footer > .container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.footer > .container .background_image {
  bottom: 0;
  height: 150px;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.footer > .container .background_image:before,
.footer > .container .background_image:after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.06);
}
.footer > .container .background_image:before {
  left: 0;
  transform: skew(0deg, 25deg);
  -webkit-transform: skew(0deg, 25deg);
  -moz-transform: skew(0deg, 25deg);
  -ms-transform: skew(0deg, 25deg);
  -o-transform: skew(0deg, 25deg);
}
.footer > .container .background_image:after {
  right: 0;
  transform: skew(0deg, -25deg);
  -webkit-transform: skew(0deg, -25deg);
  -moz-transform: skew(0deg, -25deg);
  -ms-transform: skew(0deg, -25deg);
  -o-transform: skew(0deg, -25deg);
}
.footer .about_company,
.footer .for_customers {
  margin-top: 20px;
  max-width: 100%;
}
.footer .about_company .title,
.footer .for_customers .title {
  font-weight: 700;
  color: #ffffff;
  font-size: calc(
    18px + 12 * ((100vw - 320px) / 1080)
  );
}
@media screen and (min-width: 1712px) {
  .footer .about_company .title,
  .footer .for_customers .title {
    font-size: 30px;
  }
}
.footer .about_company ul,
.footer .for_customers ul {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(2, 1fr);
}
.footer .about_company ul li,
.footer .for_customers ul li {
  margin-top: 10px;
}
.footer .about_company ul li a,
.footer .for_customers ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: calc(
    13px + 3 * ((100vw - 320px) / 1080)
  );
  color: rgba(255, 255, 255, 0.75);
}
@media screen and (min-width: 1712px) {
  .footer .about_company ul li a,
  .footer .for_customers ul li a {
    font-size: 16px;
  }
}
.footer .contacts_social {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer .contacts_social .tel_number {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  font-weight: 400;
  font-size: 30px;
  font-size: calc(
    18px + 12 * ((100vw - 320px) / 1080)
  );
  color: #ffffff;
}
@media screen and (min-width: 1712px) {
  .footer .contacts_social .tel_number {
    font-size: 30px;
  }
}
.footer .contacts_social .tel_number + .tel_number {
  margin-top: 10px;
}
.footer .contacts_social .social_networks {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .contacts_social .social_networks li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer .contacts_social .social_networks li a svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.footer .contacts_social .social_networks .vertical_line {
  margin: 0 10px 0 10px;
  width: 2px;
  height: 20px;
  background: #c4c4c4;
}
.footer .privacy_policy {
  padding: 35px 0;
  position: relative;
  background: #333333;
}
.footer .privacy_policy .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: calc(
    12px + 2 * ((100vw - 320px) / 1080)
  );
  color: rgba(255, 255, 255, 0.25);
}
@media screen and (min-width: 1712px) {
  .footer .privacy_policy .container {
    font-size: 14px;
  }
}
.footer .privacy_policy .container .links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.footer .privacy_policy .container .links .vertical_line {
  width: 2px;
  height: 13px;
  background: rgba(255, 255, 255, 0.25);
}
.footer .privacy_policy .container .links a {
  color: rgba(255, 255, 255, 0.25);
}
.footer .privacy_policy .container .design {
  margin-top: 15px;
  font-size: calc(
    12px + 2 * ((100vw - 320px) / 1080)
  );
  flex-grow: 1;
}
@media screen and (min-width: 1712px) {
  .footer .privacy_policy .container .design {
    font-size: 14px;
  }
}
.footer .privacy_policy .container .design svg {
  display: inline-block;
  margin-left: 10px;
  width: 91px;
  height: 36px;
  vertical-align: middle;
  fill: rgba(255, 255, 255, 0.25);
}
.footer .privacy_policy .container .uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .sale_section .container_sale_section .item_sale h5 {
    font-weight: 700;
    font-size: 28px;
  }
  .sale_section .container_sale_section .item_sale p {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.07em;
    color: #0f0f0f;
  }
  .product_section .tabs_product nav a {
    padding: 20px 15px;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box .card_product {
    flex-basis: 32%;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box .card_product:first-child, .product_section .tabs_product .tabs_content .tabs_content_box .card_product:last-child {
    display: none;
  }
  .subscribe_section .subscribe_social {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  .subscribe_section .subscribe_social .subscribe .input_subscribe input {
    font-size: 17px;
  }
  .footer .logo {
    align-self: flex-start;
  }
  .footer .logo svg {
    width: 70px;
    height: 70px;
  }
  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .footer .about_company {
    order: 3;
    align-self: flex-start;
  }
  .footer .for_customers {
    align-self: flex-start;
    order: 4;
  }
  .footer .about_company,
  .footer .for_customers {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-top: 20px;
  }
  .footer .contacts_social {
    flex-basis: 60%;
    margin-top: 0px;
    align-items: flex-end;
  }
  .footer .privacy_policy .container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer .privacy_policy .container .links {
    width: 100%;
    order: 3;
  }
  .footer .privacy_policy .container .design {
    margin-top: 0px;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .header {
    background: transparent;
  }
  .main {
    padding-bottom: 0px;
  }
  .main_container {
    display: flex;
    align-items: center;
    background: url(../img/main_background.webp) no-repeat;
    background-size: contain;
    background-position: 90% 30px;
  }
  .main_container .title_main h2 {
    font-size: 43px;
  }
  .main_container .mein_slider {
    width: 50%;
    display: block;
    align-self: center;
  }
  .main_container .mein_slider .owl-carousel {
    width: 100%;
    display: flex;
  }
  .main_container .mein_slider .owl-carousel .owl-dots {
    align-self: flex-end;
    margin-bottom: 30px;
  }
  .main_container .mein_slider .owl-carousel .owl-dot {
    text-align: right;
  }
  .main_container .mein_slider .owl-carousel .owl-dot button {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    letter-spacing: 0.07em;
    color: #cecece;
    font-family: "Montserrat", sans-serif;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  .main_container .mein_slider .owl-carousel .owl-dot.active button {
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #0f0f0f;
    position: relative;
    margin-left: 30px;
  }
  .main_container .mein_slider .owl-carousel .owl-dot.active button::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background: #000000;
    top: 0;
    left: -30px;
    bottom: 0;
    margin: auto 0;
  }
  .main_container .mein_slider .slide {
    width: 100%;
  }
  .main_container .mein_slider .slide img {
    display: inline-block;
    max-width: 737px;
    height: auto;
    object-fit: contain;
  }
  .sale_section .container_sale_section {
    flex-direction: row;
    gap: 10px;
  }
  .sale_section .container_sale_section .item_sale {
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .sale_section .container_sale_section .item_sale h5 {
    font-size: 15px;
    line-height: 15px;
  }
  .sale_section .container_sale_section .item_sale p {
    font-size: 10px;
    line-height: 15px;
  }
  .product_section .tabs .tabs_content {
    margin-top: 70px;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box .card_product {
    flex-basis: 23%;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box .card_product:first-child, .product_section .tabs_product .tabs_content .tabs_content_box .card_product:last-child {
    display: flex;
  }
  .container_more_content .tabs_more_content .tabs_content > div {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item {
    width: 50%;
  }
  .subscribe_section .subscribe_social .subscribe .input_subscribe input {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .main {
    padding-top: 0px;
  }
  .header {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    padding: 30px 0 0 0;
  }
  .header .main_menu_collapse {
    position: relative;
    display: flex;
    width: auto;
    background: none;
    top: auto;
    left: auto;
    padding: 0;
  }
  .header .main_menu_collapse > li {
    margin-right: 25px;
    border-bottom: 2px solid transparent;
  }
  .header .main_menu_collapse > li a {
    padding: 0;
  }
  .header .main_menu_collapse > li:hover {
    border-color: #000000;
  }
  .header .burger_icon {
    display: none;
  }
  .header .logo svg {
    display: inline-block;
    width: 90px;
    height: 74px;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box {
    gap: 20px;
  }
  .trend_section {
    background: #f5f5f5;
    padding: 50px 0;
  }
  .container_more_content .more_news {
    margin-top: 40px;
  }
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item .content {
    gap: 15px;
  }
  .subscribe_section {
    padding: 40px 0;
  }
  .subscribe_section .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .subscribe_section .subscribe,
  .subscribe_section .messengers {
    margin-top: 0;
  }
  .footer {
    padding-top: 50px;
  }
  .footer .logo svg {
    width: 120px;
    height: 120px;
  }
  .footer > .container {
    padding-bottom: 50px;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: stretch;
  }
  .footer .about_company {
    order: 2;
  }
  .footer .for_customers {
    order: 3;
  }
  .footer .about_company,
  .footer .for_customers {
    align-self: stretch;
    flex-basis: auto;
    margin-top: 0px;
  }
  .footer .about_company ul,
  .footer .for_customers ul {
    margin-top: 50px;
  }
  .footer .contacts_social {
    flex-basis: 60%;
    margin-top: 0px;
    flex-basis: auto;
    order: 4;
  }
  .footer .privacy_policy .container .links {
    margin-left: 40px;
    width: auto;
    order: 2;
    margin-top: 0px;
  }
  .footer .privacy_policy .container .design {
    order: 2;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .main_container .title_main h2 {
    font-size: 68px;
  }
  .main_container .mein_slider .owl-carousel .owl-dot button {
    font-size: 36px;
    line-height: 44px;
  }
  .main_container .mein_slider .owl-carousel.active button {
    font-size: 64px;
    line-height: 78px;
  }
  .sale_section .container_sale_section .item_sale h5 {
    font-size: 20px;
    line-height: 25px;
  }
  .sale_section .container_sale_section .item_sale p {
    font-size: 13px;
    line-height: 15px;
  }
  .product_section {
    padding: 90px 0 95px 0;
  }
  .product_section .tabs_product .tabs_content {
    margin-top: 100px;
  }
  .product_section .tabs_product .tabs_content .tabs_content_box {
    gap: 80px 30px;
  }
  .product_section .view_catalog_btn {
    margin-top: 73px;
  }
  .more_content_section {
    padding: 79px 0;
  }
  .container_more_content .more_news {
    margin-top: 50px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer > .container {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1712px) {
  .container {
    margin: 0 auto;
  }
  .header .main_menu {
    width: 47%;
  }
  .header .user_menu {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    width: 47%;
    padding: 10px 0;
    background: none;
    justify-content: right;
  }
  .header .user_menu li svg {
    margin-left: 73px;
  }
  .header .logo {
    width: 6%;
  }
  .header .logo svg {
    display: inline-block;
    width: 100%;
  }
  .main_container {
    margin-top: -64px;
  }
  .main_container .title_main {
    margin-top: 30px;
  }
  .main_container .title_main h2 {
    color: #000000;
    font-weight: 900;
    font-size: 96px;
  }
  .main_container .title_main p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    margin-top: 22px;
  }
  .main_container .title_main .detailed_btn {
    margin-top: 60px;
  }
  .sale_section .container_sale_section {
    gap: 28px;
  }
  .sale_section .container_sale_section .item_sale h5 {
    font-size: 30px;
    line-height: 37px;
  }
  .sale_section .container_sale_section .item_sale p {
    font-size: 16px;
    line-height: 20px;
  }
  .container_more_content .more_news {
    margin-top: 60px;
  }
  .container_more_content .tabs_more_content .tabs_content .new_tabs_item .content {
    gap: 20px;
  }
  .subscribe_section {
    padding: 70px 0;
  }
  .footer {
    padding-top: 200px;
  }
  .footer .logo svg {
    width: 176px;
    height: 151px;
  }
  .footer > .container {
    padding-bottom: 100px;
  }
}